img {
  display: block;
}

.fpsContainer {
  position: fixed;
  width: 200px;
  font-size: 20px;
  top: 10px;
  left: 10px;
  z-index: 999;
}

.fpsLabel {
  float: left;
  margin-right: 10px;
}

.fps {
  margin-left: 10px;
}

.line {
  width: 0px;
  height: 2px;
  margin: 0;
  padding: 0;
  /*border: solid thin red;*/
  position: absolute;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  z-index: -50;
  z-index: 1;
}

.target1 {
  position: absolute;
  top: 200px;
  left: 500px;
  z-index: 3;
}

.target2 {
  position: absolute;
  top: 200px;
  left: 900px;
  z-index: 3;
}

.target3 {
  position: absolute;
  top: 500px;
  left: 500px;
  z-index: 3;
}

.target4 {
  position: absolute;
  top: 500px;
  left: 900px;
  z-index: 3;
}

