.container{
  position: absolute;
  cursor: pointer;
  text-align: center;
  color: white;
  font-family: Verdana;
  z-index: 2;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #0091cf;
  width: 272px;
  height: 175px;
  line-height: 150px;
  border: 2px solid white;
  box-sizing: border-box;
}

.background {
  width: 100%;
  position: relative;
  z-index: 1;
}

p {
  margin: 0;
}
.text {
  left: 10px;
  font-size: 14px;
  color: white;
  position: relative;
  z-index: 2;
  line-height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
