.frame {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: url(http://cc-vid-demo.surge.sh/35bb316603c87cc236dc2a8b4c3ec43d.jpg);
  background-size: cover;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  z-index: 2;
  text-align: center;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid red;
  
}

