/**
 * styles.css
 *
 * App container styles
 */
 body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: url(http://cc-vid-demo.surge.sh/35bb316603c87cc236dc2a8b4c3ec43d.jpg);
  background-size: cover;
}

.container {
  display: block;
}

.brandLogo {
  position: absolute;
  right: 20px;
  bottom: 20px;

  /* width: 75%; */
  height: 50px;
}
