.container {
  position: relative;
  cursor: pointer;
  color: white;
  font-family: Verdana;
  z-index: 2;
  border-radius: 50%;
  border: 2px solid;
  color: #fff;
  background-color: #003265;
  height: 106px;
  width: 106px;
  text-align: center;
  line-height: 106px;
}

.background {
  width: 100%;
  position: relative;
  z-index: 1;
}

p {
  margin: 0;
}
.text {
  left: 10px;
  font-size: 14px;
  color: white;
  position: relative;
  z-index: 2;
  line-height: 14px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
